* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

input {
  outline: none;
}

li {
  list-style: none;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}


h3 {
  font-size: 23px;
}

h4 {
  font-size: 21px;
}

a {
  color: #ea9696;
  text-decoration: none;
}

a:hover {
  color: #f38282;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  overflow-x: hidden;
}

.resize {
  max-width: 1170px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 0 2%;
  box-sizing: border-box;
}

.header {
  background: #333;
  padding: 8px 0;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.header .resize {
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}

.logo {
  flex-basis: 150px;
  height: 50px;
  background: #000;
  display: block;
  background: url(../images/logo.png) no-repeat left;
  background-size: contain;
  padding: 7px 0 0 50px;
  box-sizing: border-box;
  color: #fff;
}

.header-contacts {
  padding-left: 40px;
  background: url(../images/phone.svg) no-repeat;
}

.header-contacts a {
  display: block;
  text-align: right;
  color: #fff;
}

.header-tel {
  font-size: 21px;
  margin-bottom: 3px;
}

.header-mail {
  text-decoration: underline;
}

.sidebar {
  flex-basis: 230px;
  padding-bottom: 20px;
  min-width: 230px;
  position: relative;
}

.sidebar h3 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  height: 70px;
  align-items: center;
  padding: 0 0 0 20px;
  display: flex;
}

.hide-sidebar {
  height: 24px;
  width: 24px;
  background: #fff  url(../images/keyboard_tab-24px.svg) no-repeat center center;
  border: 1px  solid #ccc;
  display: block;
  padding: 7px;
  position: fixed;
  border-right: none;
  top: 150px;
  left: 230px;
  display: none;
  transform: rotate(180deg);
}

.sidebar h4 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
}

.select {
  margin-bottom: 15px;
}

.select-btn {
  background: #eee;
  border-radius: 3px;
  padding: 10px 10px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

.select-btn:hover {
  color: #444;
}

.select-btn-arrow {
  background: #eee url(../images/keyboard_arrow_down-24px.svg) no-repeat;
  height: 24px;
  flex-basis: 24px;
  min-width: 24px;
  display: block;
}

.select.active .select-btn-arrow {
  background: #eee url(../images/keyboard_arrow_up-24px.svg) no-repeat;
}

.select-list {
  display: none;
}

.select.active .select-list {
  display: block;
}

.select-list a {
  display: block;
  padding: 5px 10px 5px 20px;
}

.price-filter {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 10px 5px 20px;
}

.price-filter-input {
  width: 45px;
  border: 1px solid #ccc;
  padding: 10px;
}

.price-filter-title {
  flex-basis: 100%;
  padding: 0;
}

.checkbox {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 10px 5px 20px;
  align-items: center;
  justify-content: space-between;
}

.checkbox-input {
  width: 10px;
  height: 10px;
  border: 1px solid #ccc;
  padding: 2px;
  display: block;
}

.checkbox-input-inner {
  width: 10px;
  height: 10px;
  background: #333;
  display: none;
}

.checkbox-input.active .checkbox-input-inner {
  display: block;
}

.send-wrap {
  padding: 5px 10px 5px 20px;
}

.send-btn {
  background: #f38282;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.send-btn:hover {
  background: #ea9696;
}

.content-wrap {
  flex-grow: 1;
  padding: 0 0px 20px 20px;
}

.content-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}

.head-search-form {
  display: flex;
  flex-grow: 1;
}

.search-input {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-right: none;
  height: 33px;
  font-size: 15px;
  padding: 0 20px;
  min-width: 100px;
}

.search-btn {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: none;
  background: #f38282 url(../images/search-24px.svg) no-repeat center center;
}

.search-btn:hover {
  background-color: #ea9696;
}

.head-basket-wrap {
  width: 70px;
  height: 30px;
  margin-left: 50px;
  display: block;
  position: relative;
  background: url(../images/shopping-basket.svg) no-repeat center center;
}

.head-basket-count {
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  background: #f38282;
  right: 0px;
  top: 0;
  line-height: 1.6em;
  display: block;
  position: absolute;text-align: center
}

.main-categories {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 40px;
}

.category-item {
  flex-basis: 33.33%;
  height: 160px;
  display: block;
  background: url(../images/verh.jpg) no-repeat;
  background-size: cover;
  min-width: 230px;
  overflow: hidden;
}

.category-item:nth-child(2) {
  background: url(../images/futbolki.jpg) no-repeat;
  background-size: cover;
}

.category-item:nth-child(3) {
  background: url(../images/jemp.jpg) no-repeat;
  background-size: cover;
}

.category-item:nth-child(4) {
  background: url(../images/platya.jpg) no-repeat;
  background-size: cover;
}

.category-item:nth-child(5) {
  background: url(../images/yubki.jpg) no-repeat;
  background-size: cover;
}

.category-item:nth-child(6) {
  background: url(../images/tolstovki.jpg) no-repeat;
  background-size: cover;
}

.category-item-inner {
  display: flex;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  transition: transform 1s ease;
}

.category-item:hover .category-item-inner {
  transform: translate(-350px);
}

.content h1 {
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 1px solid #ea9696;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.content .resize {
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.good-item {
  flex-basis: 31.33%;
  box-sizing: border-box;
  min-width: 230px;
  padding: 10px 15px;
  margin: 0 1% 20px 1%;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.good-item:hover {
  border: 1px solid #ddd;
}

.good-image-wrap {
  margin-bottom: 5px;
  display: block;
}

.good-title {
  color: #999;
  margin-bottom: 10px;
  display: block;
  min-height: 38px;
}

.price-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.price {
  font-size: 25px;
  min-width: 95px;
}

.sale {
  padding: 3px 7px;
  background: #ff0000;
  color: #fff;
}

.add-to-card {
  text-align: center;
  padding: 10px 0;
}

.add-to-card-btn {
  background: #f38282;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

.add-to-card-btn:hover {
  background: #ea9696;
}

.good {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.good-img {
  flex-basis: 46%;
  max-height: 500px;
  text-align: center;
  padding: 1.9%;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.good-img img {
  max-height: 500px;
  display: inline-block;
}

.good-info {
  flex-basis: 44%;
  padding: 2%;
}

.good-price-wrap {
  position: relative;
}

.good-price-wrap .price {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.good-price-wrap .sale {
  position: absolute;
  right: 0;
  top: -10px;
}

.good-fields-wrap {
  margin-top: 20px;
}

.good-field {
  font-size: 17px;
  padding: 8px 10px;
}

.good-field:nth-child(even) {
  background: #eee;
}

.good-desc {
  margin: 30px 0;
}

.good-desc h2 {
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.good-desc p {
  margin-bottom: 10px;
}

.basket {
  padding: 30px;
  border: 1px solid #eee;
}

.basket-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: center;
  border-bottom: 1px dashed #ccc;
}

.basket-item-title {
  color: #000;
  font-weight: 400;
}

.basket-item-input {
  margin: 0 20px 0 auto;
  width: 35px;
  height: 25px;
  text-align: center;
  border: 1px solid #ccc;
}

.basket-item-delete {
  height: 25px;
  width: 25px;
  display: block;
  background: url(../images/close-24px.svg);
  margin-left: 20px;
  min-width: 25px;
}

.basket-total {
  border: 1px solid #eee;
  border-top: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket-total-finaly {
  font-size: 30px;
  padding-left: 30px;
}

.basket-total-price {
  font-size: 30px;
  padding: 30px;
  background: #f38282;
  color: #fff;
}

.basket-form {
  padding: 30px;
  border: 1px solid #eee;
  border-top: none;
}

.basket-form h2 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}

.basket-form-field {
  margin-bottom: 20px;
  padding: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
}

.basket-form-send {
  font-size: 20px;
  padding: 20px;
  background: #f38282;
  color: #fff;
  border: none;
  cursor: pointer;
}

.footer {
  margin-top: auto;
  box-shadow: 0px -2px 5px rgba(0,0,0,0.2);
}

.footer-top {
  background: #bbb;
  padding: 30px 0;
}

.footer .resize {
  justify-content: space-between;
}

.footer-top-col {
  flex-basis: 40%;
}

.footer-top-col h3 {
  margin-bottom: 15px;
}

.footer-top-col p {
  line-height: 1.5em;
}

.footer-top-col strong {
  font-weight: 500;
}

.footer-bottom {
  padding: 8px 0;
  background: #333;
  color: #fff;
  font-size: 13px;
}

.footer-bottom .resize {
  align-items: center;
  min-height: 30px;
}

@media (max-width: 980px) {
  .sidebar {
    flex-basis: 220px;
    min-width: 220px;
  }

  .category-item {
    flex-basis: 50%;
  }
}

@media (max-width: 800px) {
  .sidebar {
    position: fixed;
    top: 0px;
    left: 0;
    width: 230px;
    background: #fff;
    z-index: 2;
    overflow-y: scroll;
    height: 100%;
    overflow-x: visible;
  }

  .sidebar.hidden {
    left: -230px;
  }

  .hide-sidebar {
    display: block;
  }

  .sidebar.hidden .hide-sidebar {
    left: 0;
  }

  .content-wrap {
    padding: 0 0 20px 0;
  }
}

@media (max-width: 600px) {
  .category-item {
    min-width: 200px;
  }

  .good-item {
    flex-basis: 50%;
    max-width: 280px;
  }

  .good-img {
    flex-basis: 100%;
  }

  .good-info {
    flex-basis: 100%;
  }

  .basket-item-delete {
    margin: 0;
  }

  .footer .resize {
    flex-wrap: wrap;
  }

  .footer-top-col {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 420px) {
  .header .resize {
    flex-wrap: wrap;
  }

  .logo {
    margin: 0 auto 10px auto;
  }

  .header-contacts {
    flex-basis: 100%;
    padding: 0;
    margin-bottom: 5px;
    background: none;
  }

  .header-contacts a {
    text-align: center;
  }

  .head-basket-wrap {
    margin-left: auto;
  }

  .search-input {
    padding: 0 5px;
  }

  .basket-item {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .basket-item-input {
    margin: 0 20px;
    width: 35px;
    height: 25px;
    text-align: center;
    border: 1px solid #ccc;
  }

  .basket-item-title {
    flex-basis: 100%;
    margin-bottom: 10px;
  }

  .basket-total-finaly {
    font-size: 25px;
  }

  .basket-total-price {
    font-size: 25px;
    padding: 20px;
    background: #f38282;
    color: #fff;
  }

  .basket-form-send {
    font-size: 18px;
    padding: 15px;
    background: #f38282;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .category-item {
    flex-basis: 100%;
    height: 180px;
  }
}